body { background: #000 url('../img/nokia-3310.png') no-repeat top center; overflow: hidden; font-family: monospace; font-size: 24px; }
#menu { padding: 15px;}
#container { margin: 430px auto 50px auto; width: 430px; height: 310px; opacity: 0.8; }

.clear { clear: both; }

#settings, #help { padding: 10px 10px 20px 10px; }
#help { font-size: 0.8em; }
ol { margin: 0; padding: 0 0 0 40px;}

.startbtn, #screenshotbtn { float: left; }
#settingsbtn, #helpbtn { float: right; }
#screenshotbtn { display: none; font-size: 0.85em; }
#screenshot { cursor: pointer; }
.small { font-size: 0.85em; }
.large { font-size: 1.5em; }

.settingblock { display: block; margin: 0 0 1em 0; }

select { height: 34px; overflow: hidden; border: 1px solid #999; }
